/******************************************************************************
Title           : _mixins.scss
Description     : A file that contains all scss mixins.
******************************************************************************/

// clearfix clear the floats
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}