/******************************************************************************
Title           : _variables.scss
Description     : A file that contains all scss variables.
******************************************************************************/

// COLORS
$color-primary: #ef6230;
$color-text-dark: black;
$color-text-light: #eee;

$color-secondary: #eecc09;
$color-tertiary: #6cda2d;
$color-black-light: rgb(199, 233, 241);



// WIDTH
$width-button: 150px;

// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-grey-dark: #777;
// $color-white: #fff;
// $color-black: #000;
// $color-grey-light-1: #f7f7f7;

// // FONT
// $default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
