/******************************************************************************
Title           : _ItemsListPrice.scss
Description     : A file that contains all styles for ItemsListPrice.js
******************************************************************************/
  
.section-1 {
    background-color: yellow;
}

.second {
    background-color: blue;
}