// This is the grid system now is in place  now you can use in other projects
// standar width: 1140px but in rem, therefore: 1px/10rem
 
.container {
    padding: 30px;
}

.img-prices {
    width: 65%;
    height: auto;
}
